@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px 30px;
  background-color: #3EBFFE;
  font-family: 'Roboto';
  max-width: 800px;
  margin: 0px auto;
  padding-bottom: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5vh;
  color: white;
}

.container .navbar-content {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar-content a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-weight: 400;
}

.presentation {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation h1 {
  color: white;
  margin-bottom: 3em;
  font-size: 3rem;
}

.presentation img {
  width: 800px;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 0px 3em;
}

.content-container h2 {
  margin: 30px 0px;
}

.content-container p {
  padding: 1px 0px;
  font-size: 13px;
}

.content-container a {
  margin-top: 30px;
  text-decoration: none;
  color: #3EBFFE;
}

.content {
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30vh;
  overflow: hidden;
}

.content .left-container {
  width: 50%;
}

.content .right-container {
  width: 50%;
}

.content .right-container img {
  width: 100%;
  height: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30vh;
  width: 100%;
}

.services .left-container-service {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-size: contain;
}

.services .left-container-service img {
  position: absolute;
  z-index: -1;
}

.services .left-container-service h3 {
  margin-bottom: 10px;
}

.services .left-container-service p {
  margin-bottom: 30px;
}

.services .right-container-service {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  background-image: url("/images/desktop/image-photography.jpg");
  background-size: contain;
}

.services .right-container-service img {
  position: absolute;
  z-index: -1;
}

.services .right-container-service h3 {
  margin-bottom: 10px;
}

.services .right-container-service p {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */